* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Merriweather', serif;
}


                           /* header part start from here  */

header {

    margin: 50px 100px;
    background-image: url('../images/Banner\ Image.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    height: 600px;

}


.banner {

    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding: 170px 0 130px;
}

.happy-new-year {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-family: 'Merriweather';
}

.happy-new-year-heading {
    color: #FFF;
    text-align: center;
    font-size: 52px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;

}

                    /* header part end here  */




                   /* main part start from here */



/* 60% off section  */


.sixtifive {
    color: #F00;
    text-align: center;
    font-family: 'inter Tight';
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0;
}

.off-desc {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;

}

.off-categories {
    color: #070211;
    text-align: center;
    font-family: Inter Tight;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
}

.happy-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}


/* welcome section  */


.welcome-section {
    margin: 120px 100px;
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    background-position-x: center;
    background-size: contain;
}

.welcome-div {
    display: flex;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    height: 600px;
}

.welcome-text {
    padding: 125px 95px 86px 126px;

}

.welcome-text h2 {
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 60px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.welcome-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: sans-serif;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 30px;
}

.welcome-text button {
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgb(25, 25, 37);
    border: none;

}

.welcome-image {
    padding: 60px 135px 60px 0;
}


/* join section  */



.join {
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 0 100px;
    border-radius: 15px;
    padding-top: 100px;
    padding-bottom: 130px;
}

.join .red {
    color: #FF0000;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 56px;
}

.join .black {
    color: #070211;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}


.join button {
    border-radius: 8px;
    background: #F00;
    padding: 15px 30px;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}


/* coming-soon  section */



.coming-soon {
    display: flex;
    margin: 130px 100px;
    justify-content: space-evenly;
}

.coming-soon-text {
    margin-right: 70px;
}


.coming-soon-text h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.coming-soon-text h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.coming-soon-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}


/* ellipse section  */

.ellipse {
    border-radius: 463px;
    border: 15px solid #F00;
}

.ellipse img {
    padding: 50px;
}

.coming-soon-desc {
    margin-left: 115px;
}

.coming-soon-desc h1 {
    color: #F00;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.coming-soon-desc p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}


/* Holidays section  */



.holidays {

    margin: 130px 100px;
}

.holidays-text {
    text-align: center;
}

.first-p {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
}

.holidays-text h1 {
    color: #F00;
    text-align: center;
    font-family: sans-serif;
    font-size: 72px;
    font-weight: 900;
}

.second-p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    width: 900px;
    margin: 25px auto 65px ;

}

.holidays-images {
    background-image: url('../images/Rectangle\ 1.png'), url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: right top, bottom;
    position: relative;
}



.discount {
    padding: 140px;
    position: absolute;
    right: 90px;
    bottom: 70px;
}

/* rectangle section  */


.rectangle {
    margin: 0 100px;
}

.best-gift {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.portfolio {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.rec-desc {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
}


.first-rec,
.second-rec {
    display: flex;
    gap: 10px;
}

.first-rec {
    margin-bottom: 10px;
}


/* subscribe section  */

.subscribe {
    margin: 120px 100px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding-top:80px ;
}

.message {
    margin-bottom: 40px;
}

.sub-news {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.sub-desc {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 50px;
}

.gmail-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.gmail {
    padding: 23px;
    border-radius: 50px 0 0 50px;
    width: 300px;

}

.sub-btn {
    padding: 20px;
    border-radius: 0 50px 50px 0;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}

.gmail,
.sub-btn {
    border: none;
}
                            /* main part end here  */





                            /* footer part start from here  */

footer {
    background-color: black;
    color: white;
}

.first-div {
    display: flex;
    width: 1320px;
    justify-content: space-between;
}

.big-building {
    margin-left: 110px;
    margin-right: 250px;
    margin-top: 120px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    width: 250px;
    height: 80px;
}

.number {
    width: 230px;
    height: 80px;
    font-family: sans-serif;
    margin-top: 110px;
}

.number img {
    width: 19px;
    height: 18px;
}

.social-media {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 100px;
}

.social-media img {
    width: 44px;
    height: 44px;

}

.last-div {
    width: 1320px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;


}

.last-div>p,
.last-div>button {
    font-size: 14px;
    font-weight: 500;
    padding: 100px 110px;

}

.last-div>button {
    background-color: black;
    color: white;
    border: none;
}


                            /* footer part end here  */